@import 'variables'
@import 'colors'
@import 'baseline.reset'
@import 'baseline.base'
@import 'typography'

body
	background: $primary-color
	font-family: $font-stack
	font-size: $font-base-size
	h1
		font-size: $h1-size



.container
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center

.item
	flex: auto //auto stretch/shrink
	// width: 150px
	height: 150px
	margin: 25px
	padding 5px
	background: $flex-item-bg
