doctype html
html(lang='de')
	head
		meta(charset='utf-8')
		title It works!
		link(rel='stylesheet', href=url('css/app.css'))
	body
		h1 Starting work on typography setup.
		.container
			.item This is item 1
			.item This is item 2 - sdkb kjhb k bsdkb sfsdkfb sdhb fjb jsdh jsdbf  jsdb js bfjsbf sdjhb sjsjbjsb hjsb j jfh sdjhsbd hjsdbb b jsdfv jshfsfsdhjbs jsb fs fjsh jsdh bjs bb shb fbdbdvbjdbvdj  
			.item This is item 3
			
