doctype html
html(lang='de')
	head
		meta(charset='utf-8')
		title It works!
		link(rel='stylesheet', href=url('css/app.css'))
	body
		.container
			.item
				h1.typl8-beta Starting work on typography setup.
		h1.typl8-giga Heading Giga
		h1.typl8-mega Heading Mega
		h1.typl8-alpha Heading Alpha
		h2.typl8-beta Heading Beta
		h3.typl8-gamma Heading Gamma
		h4.typl8-delta Heading Delta
		h5.typl8-epsilon Heading Epsilon
		h6.typl8-zeta Heading Zeta

		hr
		section
			h5.typl8-epsilon Pooh Gibberish
			p Firs, all begans houd he-Pooh woney." song asn't Fris so name climself a by himb the iter Robin he the can an?" The yout buzzin. I knois a ge the therst and likes? Buzzing hon at a bed it." Ther the of the-the does? Buzz! Buzzinnie-Pooree." an he making, Wing son't lits abody's asonly he this place san?" The thing a became son," San this mid I a limb this: "The ou're, justo all hinny res of this he climettlethe a becaust and It unnie-Poor Robink. "And by iself the grome noiself ist, Wing his I when
			h5.typl8-epsilon Word-Break / Hyphenate test
			.container
				.item
					h4.typl8.delta Flex='0'
					p http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!
			.item-flex-auto
					h4.typl8.delta Flex='auto'
					p http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!
			.item-flex-1
					h4.typl8.delta Flex='1'
					p http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!  http://keep.your.dirty/little/hands/out/of_my_stuff!